<!-- <mat-dialog-actions> -->
  <!-- <button mat-button mat-dialog-close>No</button> -->
  <!-- Can optionally provide a result for the closing dialog. -->
  <!-- <button mat-button [mat-dialog-close]="true">Yes</button> -->
<!-- </mat-dialog-actions> -->

<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  My favorite animal is:
  <ul>
    <li>
      <span>&#10003;</span> Panda
    </li>
    <li>
      <span>&#10003;</span> Unicorn
    </li>
    <li>
      <span>&#10003;</span> Lion
    </li>
  </ul>
</div>
